
<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">©<%= Date.today.year%> All rights reserved.</p>
    <p class="mb-0">Bootstrap fan :D</p>
  </div>
</footer>
=