
  <header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
        <%= link_to 'Новини', news_path, class: "nav-link px-2 #{current_page?(controller: 'articles', action: 'news') ? 'link-secondary' : 'link-dark'}" %>
                   </li>
                    <li>
        <%= link_to 'Приготування', cooking_path, class: "nav-link px-2 #{current_page?(controller: 'articles', action: 'cooking') ? 'link-secondary' : 'link-dark'}" %>
                   </li>
                    <li>
        <%= link_to 'Обсмажка', roastering_path, class: "nav-link px-2 #{current_page?(controller: 'articles', action: 'roastering') ? 'link-secondary' : 'link-dark'}" %>
                   </li>
                    <li>
        <%= link_to 'Інше', other_path, class: "nav-link px-2 #{current_page?(controller: 'articles', action: 'other') ? 'link-secondary' : 'link-dark'}" %>
                   </li>
                    <li>
        <%= link_to 'Про нас', about_path, class: "nav-link px-2 #{current_page?(controller: 'welcome', action: 'about') ? 'link-secondary' : 'link-dark'}" %>
                   </li>
                 </ul>       
      </div>
    </div>
  </header>
